# Dependency directories
node_modules/

# Local env files (Crucial: keeps your DB password off GitHub)
.env
.env.local
.env.*.local

# Vercel specific
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db
